doctype html
html
	head
		title Welcome To Decision Dandy
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		meta(name='viewport',content='width=device-width, initial-scale=1')

		if (environment == 'development')
			link(rel='stylesheet',href='bootstrap/bootstrap.min.css')
			script(src='bootstrap/bootstrap.min.js')
		else
			link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
			script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

		link(rel='stylesheet',href='assets/app.css')

	body
		.container-fluid
			.row
				.col-lg-6.col-lg-offset-3
					.popout
						.lead Login #{environment}
						.text-left To begin, login or
						a.text-left create an account
						form(class='form-horizontal')
							.form-group
								label.col-sm-2.control-label(for='inputEmail3') Email
								.col-sm-10
									input.form-control(type='email',id='inputEmail3',placeholder='Email')

							.form-group
								label.col-sm-2.control-label(for='inputPassword3') Password
								.col-sm-10
									input.form-control(type='password',id='inputPassword3',placeholder='Password')
							.form-group
								.col-sm-offset-2.col-sm-10
									.checkbox
										label Remember me
											input(type='checkbox')
							.form-group
								.col-sm-offset-2.col-sm-10
									button.btn.btn-default(type='submit') Sign In
